CompileFlags:
  CompilationDatabase: "D:/Workspace/fmradio"
  Add:
    - "-isystem"
    - "C:/Users/gsr/.platformio/packages/toolchain-atmelavr/avr/include"
    - "-isystem"
    - "C:/Users/gsr/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/include"
    - "-isystem"
    - "C:/Users/gsr/.platformio/packages/toolchain-atmelavr/lib/gcc/avr/7.3.0/include-fixed"
    - "-I"
    - "C:/Users/gsr/.platformio/packages/framework-arduino-avr/libraries/Wire/src"
    - "-I"
    - "D:/Workspace/fmradio/.pio/libdeps/nanoatmega328/Etherkit Si5351/src"
    - "-I"
    - "D:/Workspace/fmradio/.pio/libdeps/nanoatmega328/U8g2/src"
    - "-I"
    - "C:/Users/gsr/.platformio/packages/framework-arduino-avr/cores/arduino"
    - "-I"
    - "C:/Users/gsr/.platformio/packages/framework-arduino-avr/variants/eightanaloginputs"
    - "-D__AVR_ATmega328P__"
    - "-D__AVR__"
    - "-DF_CPU=16000000L"
    - "-DARDUINO=10808"
    - "-DARDUINO_ARCH_AVR"
    - "-DARDUINO_AVR_NANO"
  Remove:
    - "-mmcu=*"
    - "-fno-fat-lto-objects"
    - "-flto"
